# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and runtime files
*.log
*.pid

# Pyenv
.python-version

# Pytest cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# local settings
local_settings.py
